.pageMain {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 1rem;
}

.pageMain h2 {
    text-align: center;
    font-size: clampvar(--font-sz-1-mobile);
    line-height: 1;
}

@media (min-width: 768px) {
    .pageMain h2 {
        align-self: center;
        font-size: var(--font-sz-1);
        width: 12ch;
    }
    
    .formAndReadingTime {
        display: grid;
    }

    .formAndReadingTime > * {
        grid-row: 1;
        grid-column: 1;
    }
    
    .formAndReadingTime__readingTime {
        justify-self: end;
        align-self: end;
    }
}